*{
  box-sizing: border-box;
    
}
.row {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;    
  margin-left: 5%;
}


body{
	margin: 0;
	padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
  border: 1px solid black;
  background-color: #483D8B;
  width: 90%;
  height: 80px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 80px;
  font-family: Helvetica;
  color: white;
  text-align: center;
  padding-top: 10px;    
}
.box{
    width: 100%;
}
.section-title{
  float: right;    
  border: 5px solid black;
  width: 30%;
  height: auto;
  padding: 10px;
  margin-top: 0px;
  margin-left: 70%;
  margin-right: 8%;    
  font-weight: bold;
  text-align: center    
}
.title1 {
background-color: #adad85
}

.title2{
background-color: #adad85
}

.title3{
background-color: #adad85;    
}
.content1 {
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black;
  font-size: 16px;
  padding-top: 55px;
  background-color: rgba(0,0,0,0.3);     
}

.content2 {
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black;
  font-size: 16px;
  padding-top: 55px;
  background-color: #e62e00; 
}

.content3 {
  border: 5px solid black;
  width: 90%;
  height: auto;
  margin: 2.5%;
  color: black;
  font-size: 16px;
  padding-top: 55px;
  background-color:  #0066ff; 
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: left;
    border: 1px;
  }
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, {
    float: left;
    border: 1px ;
    
    
  }
  .col-md-1 {
    width:50%;
    float:left;
  }
  .col-md-2 {
    width:50% ;
    float:left;  
  }
  .col-md-3 {  
    float:left;  
    height: 100%;
      
}
    .title1{
    margin-right: 32px;
    width: 120px;
    }
   .title2{
    margin-right: 32px;
    width: 120px;
    }
   .title3{
    margin-right: 60px;
    width: 120px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-1 {
  	float: left;
    width: 100%;
  .section-title{
    margin-left: 10px; 
  }

  }
}